# ---------------------------------------
# General
# ---------------------------------------
.git
.env
.cache
*.md

# ---------------------------------------
# Node.js
# ---------------------------------------
**/node_modules/
**/dist
npm-debug.log

**/.gradle
**/build
**/bin
**/.idea

